.weather-button
  width: 100%
  background-color: transparent
  border: 0
  cursor: pointer
  transition: all .3s ease-in-out;

  .light &
    outline-color: gray
    color: gray
    text-shadow: 1px 1px rgba(white, .2)

    &:hover {
      color: white
      text-shadow: 1px 1px rgba(white, .2)
      background-color: gray
    }

  .dark &
    outline-color: white
    color: white
    text-shadow: 1px 1px rgba(white, .2)

    &:hover {
      color: gray
      text-shadow: 1px 1px rgba(gray, .2)
      background-color: white
    }

  h2
    margin-left: 1rem
    transition: transform .3s ease-in-out

  .details
    transition: opacity .3s ease-in-out
    opacity: 1
    margin-left: auto
    padding-left: 1rem
    border-left: 2px solid transparent

    .light &
      border-color: gray

    .dark &
      border-color: white


  .icon
    max-width: 5rem
    margin: 0

  &.open
    h2
      transform: scale(1.1)

    .details
      opacity: 0

    .button-content
      max-width: 600px;

.button-content
  align-items: center
  display: flex;
  max-width: 500px
  margin: 0 auto
  transition: max-width .3s ease-in-out

