@import './button';
@import './chart';
@import './tabs';

.weather-container
  overflow-x: auto
  flex: 1;

.weather-card
  display: flex
  flex-flow: column
  margin: auto;
  justify-content: center;
  border-radius: 5px
  // box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50)
  transition: color .2s ease-in-out, text-shadow .2s ease-in-out;

  .light &
    color: gray
    text-shadow: 1px 1px rgba(white, .2)

  .dark &
    color: white
    text-shadow: 1px 1px rgba(gray, .2)

  .header
    align-items: center
    display: flex
    font-size: 2rem
    height: 4rem
    justify-content: center
    text-align: center

    small
      display: block
      font-size: 50%

  .content
    padding: 2em 1em
    text-align: center;
    flex: 1

    table
      margin: 0 auto;

      td:first-child
        text-align: left;
        padding-right: 1rem;

      td:last-child
        text-align: right;
        padding-left: 1rem;


  .timeline
    display: flex
    flex-flow: row
    align-items: center
    justify-content: center
    text-align: center
    padding: 1rem
    max-width: 800px
    margin: 0 auto

    .weather-entry
      padding: 1rem 1rem
      width: 12.5%;

      .time
        font-size: .75rem

      .description
        display: block



    @media screen and (max-width: 650px)
      flex-flow: row wrap
      max-width: 250px;

      .weather-entry
        width: 25%
        padding: 1rem 0

.weather-details
  .icon
    max-width: 160px;
    padding-bottom: 2rem;

.weather-icon
  margin: 0 auto;
  display: block;
  width: 100%

  svg
    width: 100%
    height: 100%;





