.weather-tabs
  padding: 2rem 0 0 0
  max-width: 600px
  margin: 0 auto
  display: flex
  flex-flow: row wrap;
  list-style-type: none
  align-items: center
  justify-content: center;

  li
    border-bottom: 2px solid transparent
    padding: 1rem 0
    width: 25%
    cursor: pointer

    @media screen and (max-width: 600px)
      width: 50%

.light .weather-tabs
  li:hover
    border-color: rgba(gray, 0.4)

  .active
    border-color: gray

.dark .weather-tabs
  li:hover
    border-color: rgba(white, 0.4)

 .active
    border-color: white
