.search
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);

  button
    border-style: solid
    border-color: gray
    z-index: 100
    background-color: gray

    span
      align-items: center;
      display: flex;
      height: 100%

    svg
      fill: white
      width: 25px;

  .search-bar
    width: 100%;
    position: relative;
    padding-bottom: 0px;

  .search-input
    border: 0;
    box-sizing: border-box
    font-family: "Montserrat"
    display: block;
    width: 100%;
    padding: .5rem 0 .5rem 15px;

  .search-dropdown
    position: absolute;
    top: 100%;
    background-color: #fff;
    border: 1px solid rgb(85, 85, 85);
    width: 100%;
    z-index: 1000;